<div class="container" style="direction: rtl;">
    <h3 class="special-heading text-center">
        العروض
    </h3>

    <div class="row">
        <div *ngFor="let offer of offers" class="col-md-3" style="padding-bottom: 20px;">
            <a routerLink="/details/{{offer.id}}" matRipple class="special-link">
                <div class="card text-center">
                    <img src="{{offer.photo}}" class="card-img-top" style="height: 250px;">
                    <div class="card-footer">
                        {{offer.name}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>