<section class="about">
    <div class="container" style="direction: rtl;">
        <h3 class="special-heading text-center">
            <img src="./../../../assets/images/logo.png" width="50px" />
            لماذا "رحلاتكم"                
        </h3>

        <ul class="list-unstyled about-list text-right">
            <li class="wow fadeInDown" data-wow-duration="20s" data-wow-delay="10s">
                <img src="./../../../assets/images/logo.png" width="30px" />
                شركة رحلاتكم هي الاولي من نوعها
            </li>
            <li class="wow fadeInDown" data-wow-duration="6s" data-wow-delay="20s">
                <img src="./../../../assets/images/logo.png" width="30px" />
                حيث تعمل علي تجميع اكبر عدد من شركات السياحة
            </li>
            <li class="wow fadeInDown" data-wow-duration="7s" data-wow-delay="30s">
                <img src="./../../../assets/images/logo.png" width="30px" />
                وتوفير اكبر عدد من العروض السياحية الكاملة وليس حجز فندق فقط
            </li>
            <li style="margin-bottom: 75px;" class="wow fadeInDown" data-wow-duration="500s" data-wow-delay="40s">
                <img src="./../../../assets/images/logo.png" width="30px" />
                متابعة شركات السياحة للتاكد من حصولك علي افضل خدمة
            </li>                                    
        </ul>
    </div>
</section>