<footer id="main_footer" class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="site-logo">
                    <a matRipple routerLink="" class="special-link" matRipple>
                        <img src="./../../../assets/images/logo.png" width="150px" class="img-fluid logo" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-us">
                    <h5>
                        تواصل معنا
                    </h5>
                    <ul class="list-unstyled contact-details text-right">
                        <li nz-tooltip nzTooltipTitle="البريد الالكتروني">
                            <i class="fas fa-at"></i> 
                            info@rahlatcom.com                                                                                              
                        </li>
                        <li nz-tooltip nzTooltipTitle="تليفون">
                            <i class="fas fa-phone"></i>
                            01141087755
                        </li>                                                                                   
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="follow">
                    <h5>
                        تابعنا على
                    </h5>
                    <ul class="list-unstyled follow-links text-right">
                        <li matRipple nz-tooltip nzTooltipTitle="فيس بوك">
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li matRipple nz-tooltip nzTooltipTitle="تويتر">
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>   
                        <li matRipple nz-tooltip nzTooltipTitle="انستجرام">
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>                                                                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer id="copy_footer" class="copy-footer text-center">
    <p>
        جميع الحقوق محفوظة لسنة 2020
    </p>
</footer>

<nz-back-top [nzTarget]="divTarget"></nz-back-top>