<div class="download">
    <div class="container">
        <h3 class="special-heading text-center">
            حمل تطبيق رحلاتكم اليوم مجانا
        </h3>

        <div class="row">
            <div class="col-md-6">
                <a matRipple href="#" class="special-link" target="_blank">
                    <img src="./../../../../assets/images/google.svg" width="100%" />
                </a>
            </div>
            <div class="col-md-6">
                <a matRipple href="#" class="special-link" target="_blank">
                    <img src="./../../../../assets/images/apple.jpg" class="apple-app" width="100%" height="177px" />
                </a>
            </div>            
        </div>
    </div>
</div>